<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
               <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
               {{>header}}
         <p>This site was created by Nagasai raavi . It uses <a href="https://weatherstack.com/" target="_blank">weatherstack</a> and <a href="https://www.mapbox.com/" target="_blank">mapbox</a> apis to display weatherforecast</p>
        <img class="weather" src="./img/unnamed.jpg" alt="img">
        </div>
           
           {{>footer}}
    </body>
</html>